<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeshasprabhakar.todo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".theme.MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".ucacue.MapaActivity"></activity>
        <activity
            android:name=".ucacue.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ucacue.SplashActivity"
            android:theme="@style/SplahSrceen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ucacue.DoctorActivity" />
        <activity android:name=".ucacue.MainActivity" />

        <receiver android:name=".adapter.MyNotificationPublisher" />
    </application>

</manifest>